<form [formGroup]="recipeForm"
    (ngSubmit)="onSubmit()">
    <div>
        <button 
        type="submit"
        [disabled]="!recipeForm.valid">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" 
        id="name"
        formControlName="name">
    </div>
    <div>
        <label for="imagePath">Image Url</label>
        <input type="text" 
        id="imagePath"
        formControlName="imagePath"
        #imagePath>
    </div>
    <div>
        <img [src]="imagePath.value">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea type="text" 
        id="description" 
        formControlName="description"
        rows="6"></textarea>
    </div>
    <div formArrayName="ingredients">
        <div 
        *ngFor="let ingredientCtrl of controls; let i = index"
        [formGroupName]="i">
            <div>
                <input type="text"
                formControlName="name">
            </div>
            <div>
                <input type="number"
                formControlName="amount">
            </div>
            <div>
                <button
                type="button"
                (click)="onDeleteIngredient(i)">Delete</button>
            </div>
        </div>
        <hr>
        <div>
            <button 
            type="button"
            (click)="onAddIngredient()">Add Ingredient</button>
        </div>
    </div>
    
</form>