<div>
    <button>New Recipe</button>
</div>
<hr>
<div >
    <div  >
        <a 
        href="#" 
        
        *ngFor = "let recipeii of recipes">
            <div class = "container">
                <h4>{{ recipeii.name }}</h4>
                <p>{{ recipeii.description}}</p>
            
            <span >
                <img 
                
                [src]="recipeii.imagePath"
                alt="{{ recipeii.name }}" 
                style = "max-height: 50px">
            </span>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
    
</div>
<hr>
