<div>
    <img 
    [src]="recipe.imagePath" 
    alt=" recipe.name "
    style="max-height: 200px;">
</div>
<div>
    <h2>{{ recipe.name }}</h2>
<div appDropdown>
    <ul>
        <li><a href="#" (click)="onAddToShoppingList" style="cursor: pointer;" >Add to shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
    </ul>
</div>
    {{ recipe.description }}
</div>
<div>
    <ul>
        <li
            *ngFor="let ingredient of recipe.ingredients"
        >{{ingredient.name}} - {{ingredient.amount}}</li>   
    </ul>
</div>